components:
  zmq_can:
    server_mode: True

  actuator:
    PWMSteering:
      subscription: ['js_steering']
      channel: 0

    PWMThrottle:
      subscription: ['js_throttle']
      channel: 1
      min_throttle: -0.3
      max_throttle: 0.3

  camera:
    publication: ['cam/image']
    device: '/dev/video0'

  video_recorder:
    subscription: ['cam/image', 'js_record']
    width: 640
    height: 480

  joystick:
    device: '/dev/input/js0'
    publication: ['js_steering', 'js_throttle', 'js_autonomous', 'js_record']
    axis_keys:
      'left_stick_horz': 0x00
      'left_stick_vert': 0x01
      'right_stick_horz': 0x02
      'right_stick_vert': 0x05
      'dpad_leftright': 0x10
      'dpad_up_down': 0x11
      'L2_pressure': 0x0a
      'R2_pressure': 0x09
    button_keys:
      'select': 0x13a
      'start': 0x13b
      'L1': 0x136
      'R1': 0x137
      'L2': 0x138
      'R2': 0x139
      'left_stick_press': 0x13d
      'right_stick_press': 0x13e
      'A': 0x130
      'B': 0x131
      'X': 0x133
      'Y': 0x134