components:
  zmq_can:
    server_mode: True

  actuator:
    PWMSteering:
      subscription: ['web_steering']
      channel: 0

    PWMThrottle:
      subscription: ['web_throttle']
      channel: 1
      min_throttle: -0.3
      max_throttle: 0.3

  camera:
    publication: ['cam/image']
    device: '/dev/video0'

  web_controller:
    subscription: ['web_control', 'cam/image']
    publication: ['web_steering', 'web_throttle', 'web_record', 'web_autonomous']